name: DetectChanges

on:
  pull_request:
    paths:
      - '.github/docker/*.Dockerfile'
      - '.github/scripts/*'
  push:
    paths:
      - '.github/docker/*.Dockerfile'
      - '.github/scripts/*'

permissions:
  contents: read
  packages: read

jobs:
  DetectChanges:
    runs-on: ubuntu-latest
    outputs:
      changed_files: ${{ steps.changed-files.outputs.all_changed_files }}
    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 #v47.0.0

      - name: List all changed files
        env:
          ALL_CHANGED_FILES: ${{ steps.changed-files.outputs.all_changed_files }}
        run: |
          echo "Changed files: $ALL_CHANGED_FILES"

  BuildDocker:
    needs: DetectChanges
    if: ${{ contains(join(needs.DetectChanges.outputs.changed_files, ' '), '.github/docker/') }}
    uses: ./.github/workflows/reusable_dockers_build.yml
    permissions:
      contents: read
      packages: write
    secrets: inherit
