# Deploy documentation to GitHub Pages
name: GitHubPages

on:
  push:
    branches: ["main"]

# Cancel previous in-progress workflow, only the latest run is relevant
concurrency:
  group: "docs"
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  build:
    name: Build docs
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      with:
        fetch-depth: 0

    - name: Install doxygen
      run: |
        sudo apt-get update
        sudo apt-get install -y doxygen

    - name: Install pip requirements
      run: python3 -m pip install -r third_party/requirements.txt

    - name: Build the documentation
      working-directory: scripts
      run: python3 generate_docs.py

    - name: Upload artifact
      uses: actions/upload-pages-artifact@0252fc4ba7626f0298f0cf00902a25c6afc77fa8 # v3.0.0
      with:
        path: docs/html

  deploy:
    name: Deploy docs to GitHub Pages
    needs: build

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest

    steps:
    - name: Deploy the documentation to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@87c3283f01cd6fe19a0ab93a23b2f6fcba5a8e42 # v4.0.3
