# Various non-standard tests, requiring e.g. longer run
name: Nightly

# This job is run at 04:00 UTC every day or on demand.
on:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: '0 4 * * *'

permissions:
  contents: read
  pull-requests: read

env:
  BUILD_DIR : "${{github.workspace}}/build"
  INSTALL_DIR: "${{github.workspace}}/build/install"

jobs:
  # Run benchmarks with the latest SYCL (with the latest UMF copied into the SYCL)
  # to verify the compatibility.
  Benchmarks-sycl:
    uses: ./.github/workflows/reusable_benchmarks.yml
    permissions:
      contents: write
      pull-requests: write
    with:
      pr_no: '0'
      bench_script_params: >-
        --adapter level_zero_v2
        --compute-runtime
        --preset Minimal
        --exit-on-failure
        --iterations 1
        --verbose
      runner: 'L0_PERF_ARC'
      compatibility: '1'
