# Run checks required for a PR to merge and verify if post-merge commit is valid.
# This workflow only call other workflows.
name: PR/push

on:
  push:
    branches-ignore:
      - 'dependabot/**'
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  CodeChecks:
    uses: ./.github/workflows/reusable_checks.yml
  DocsBuild:
    uses: ./.github/workflows/reusable_docs_build.yml
  FastBuild:
    name: Fast builds
    needs: [CodeChecks, DocsBuild]
    uses: ./.github/workflows/reusable_fast.yml
  Build:
    name: Basic builds
    needs: [FastBuild]
    uses: ./.github/workflows/reusable_basic.yml
  DevDax:
    needs: [FastBuild]
    uses: ./.github/workflows/reusable_dax.yml
  MultiNuma:
    needs: [FastBuild]
    uses: ./.github/workflows/reusable_multi_numa.yml
  L0:
    needs: [Build]
    uses: ./.github/workflows/reusable_gpu.yml
    with:
      provider: "LEVEL_ZERO"
      runner: "L0"
      shared_lib: "['ON']"
  L0-BMG:
    needs: [Build]
    uses: ./.github/workflows/reusable_gpu.yml
    with:
      provider: "LEVEL_ZERO"
      runner: "L0-BMG"
      shared_lib: "['ON']"
      os: "['Ubuntu']"
  CUDA:
    needs: [Build]
    uses: ./.github/workflows/reusable_gpu.yml
    with:
      provider: "CUDA"
      runner: "CUDA"
      shared_lib: "['ON']"
  Sanitizers:
    needs: [FastBuild]
    uses: ./.github/workflows/reusable_sanitizers.yml
  QEMU:
    needs: [FastBuild]
    uses: ./.github/workflows/reusable_qemu.yml
    with:
      short_run: true
  ProxyLib:
    needs: [Build]
    uses: ./.github/workflows/reusable_proxy_lib.yml
  Valgrind:
    needs: [Build]
    uses: ./.github/workflows/reusable_valgrind.yml
  Coverage:
    # total coverage (on upstream only)
    if: github.repository == 'oneapi-src/unified-memory-framework'
    needs: [Build, DevDax, L0, CUDA, MultiNuma, QEMU, ProxyLib]
    uses: ./.github/workflows/reusable_coverage.yml
    secrets: inherit
    with:
      trigger: "${{github.event_name}}"
  Coverage_partial:
    # partial coverage (on forks)
    if: github.repository != 'oneapi-src/unified-memory-framework'
    needs: [Build, QEMU, ProxyLib]
    uses: ./.github/workflows/reusable_coverage.yml
  CodeQL:
    needs: [Build]
    permissions:
      contents: read
      security-events: write
    uses: ./.github/workflows/reusable_codeql.yml
  Trivy:
    needs: [Build]
    permissions:
      contents: read
      security-events: write
    uses: ./.github/workflows/reusable_trivy.yml
  Compatibility:
    needs: [Build]
    uses: ./.github/workflows/reusable_compatibility.yml
    strategy:
      matrix:
        tag: ["v0.11.0-rc1"]
    with:
      tag: ${{matrix.tag}}
