# Run checks required for a PR to merge and verify if post-merge commit is valid.
# This workflow only call other workflows.
name: PR/push

on:
  push:
    branches-ignore:
      - 'dependabot/**'
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  CodeStyle:
    uses: ./.github/workflows/reusable_code_style.yml
  DocsBuild:
    uses: ./.github/workflows/reusable_docs_build.yml
  Spellcheck:
    uses: ./.github/workflows/reusable_spellcheck.yml
  FastBuild:
    name: Fast builds
    needs: [Spellcheck, CodeStyle]
    uses: ./.github/workflows/reusable_fast.yml
  Build:
    name: Basic builds
    needs: [FastBuild]
    uses: ./.github/workflows/reusable_basic.yml
  DevDax:
    needs: [FastBuild]
    uses: ./.github/workflows/reusable_dax.yml
  Sanitizers:
    needs: [FastBuild]
    uses: ./.github/workflows/reusable_sanitizers.yml
  Qemu:
    needs: [FastBuild]
    uses: ./.github/workflows/reusable_qemu.yml
  Benchmarks:
    needs: [Build]
    uses: ./.github/workflows/reusable_benchmarks.yml
  ProxyLib:
    needs: [Build]
    uses: ./.github/workflows/reusable_proxy_lib.yml
  GPU:
    needs: [Build]
    uses: ./.github/workflows/reusable_gpu.yml
  Valgrind:
    needs: [Build]
    uses: ./.github/workflows/reusable_valgrind.yml
  MultiNuma:
    needs: [Build]
    uses: ./.github/workflows/reusable_multi_numa.yml
  Coverage:
    needs: [Build, DevDax, GPU, MultiNuma, Qemu, ProxyLib]
    uses: ./.github/workflows/reusable_coverage.yml
