# Runs linter for Docker files
name: Trivy

on: workflow_call

permissions:
  contents: read

jobs:
  trivy:
    name: Trivy
    runs-on: ${{ github.repository_owner == 'oneapi-src' && 'intel-ubuntu-22.04' || 'ubuntu-latest' }}
    permissions:
      security-events: write

    steps:
      - name: Clone the git repo
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      - name: Run Trivy
        uses: aquasecurity/trivy-action@76071ef0d7ec797419534a183b498b4d6366cf37 # v0.31.0
        with:
          scan-type: 'config'
          hide-progress: false
          format: 'sarif'
          output: 'trivy-results.sarif'
          exit-code: 1  # Fail if issue found
          # file with suppressions: .trivyignore (in root dir)

      - name: Print report and trivyignore file
        run: |
          echo "### Trivy ignore content:"
          cat .trivyignore
          echo "### Trivy report:"
          cat trivy-results.sarif

      - name: Upload results
        uses: github/codeql-action/upload-sarif@fca7ace96b7d713c7035871441bd52efbe39e27e # v3.28.19
        with:
          sarif_file: 'trivy-results.sarif'
